body {
    background: rgb(0,0,0);
  }
  
  #Main {
    width: 100%;
    color: rgb(40,45,50);
  }
  
  #navbar_brand {
    background: url("../../assets/img/58067816-feine-vektor-symbol-mit-weißem-vr-logo-im-schwarzen-kreis-flache-bauweise-mit-langen-schatten.jpg") center / cover no-repeat;
    border-radius: 38px;
    width: 70px;
    height: 70px;
  }
  
  #navcol-1 {
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
    font-family: Montserrat, sans-serif;
    background: rgba(40,45,50,0);
  }
  
  #nav_link {
    color: rgb(255,255,255);
    font-family: Montserrat, sans-serif;
    text-align: right;
    font-size: 31px;
    padding-right: 62px;
    padding-left: 17px;
    border-bottom-color: rgb(255,255,255);
  }
  
  @media (max-width: 576px) {
    #nav_span {
      color: rgb(255,255,255);
    }
  }
  
  #navbar_toggle {
    background: #ffffff;
    border-radius: 35px;
  }
  
  #Main_Top {
    position: absolute;
    width: 100%;
    background: rgba(40,45,50,0);
    height: 146px;
    z-index: 1;
  }
  
  #Main_Picture {
    margin-top: 146px;
    width: 100%;
    height: 100vh;
    margin: 24px 0px 0px;
  }
  
  @media (min-width: 768px) {
    #nav-item {
      border-bottom: 8.4px solid rgb(255, 255, 255);
    }
  }
  
  #row1 {
    background: url("https://cdn.bootstrapstudio.io/placeholders/1400x800.png") center / cover no-repeat;
  }
  
  .div_column_pic.pic2 {
    background: url("../../assets/img/481364494.jpg") center / contain no-repeat;
  }
  
  .div_column_pic {
    width: 310px;
    height: 200px;
  }
  
  .div_column_pic.pic1 {
    background: url("../../assets/img/Oculus-Quest-2-mit-Controllern-und-Verpackung.jpg") center / contain no-repeat;
  }
  
  .div_column_pic.pic3 {
    background: url("../../assets/img/fee_786_587_png.webp") center / contain no-repeat;
  }
  
  #dropdown-toggle-nav_link {
    font-size: 31px;
    text-align: center;
    width: 192.3px;
    text-align: left;
    border-color: rgb(0,0,0);
    color: rgb(0,0,0);
  }
  #dropdown-toggle-nav_link2 {
    font-size: 31px;
  
    text-align: center;
    width: 192.3px;
    text-align: left;
    border-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
  }
  
  .dropdown_menu {
    background: rgb(0,0,0);
    border-radius: -20px;
    font-size: 29px;
    border: 4px solid rgb(255,255,255);
    border-top-color: rgb(0,0,0);
  }
  
  .dropdown_menu_item {
    color: #ffffff;
    border-radius: 0;
    border-color: #ffffff;
    background: #282d32;
  }
  
  .dropdown_HR {
    margin: 0;
    color: rgb(255,255,255);
    font-size: 27px;
    height: 3px;
    margin-top: 7px;
  }
  
  .dropdown_menu {
    height: 121.6px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: rgb(40,45,50);
    background: rgb(40,45,50);
  }
  
  .dropdown_menu_item {
    margin-top: -14px;
  }
  
  .dropdown_menu_item.dropdown_last_item {
    border-bottom-right-radius: 40px;
    border-style: solid;
    border-bottom-left-radius: 40px;
    width: 189.975px;
    margin-top: 6px;
  }
  
  .navbar_long {
    margin: 30px;
  }
  
  .Heading_index1 {
    margin: 0;
    margin-top: 272px;
    height: 62px;
    color: rgb(255,255,255);
    margin-top: 20px;
  }
  
  .Heading_index2 {
    margin: 0;
    height: 57px;
    color: rgb(255,255,255);
    text-align: center;
    margin-top: 37px;
  }
  
  .column {
    margin: 4px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
    margin-left: 7px;
    height: 204px;
    width: 314px;
  }
  
  .is-showing {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .div_h1 {
    margin-top: 158px;
  }
  
  .div_mainpic {
    height: 720px;
    width: 100%;
  }
  
  .container1 {
    width: 100%;
  }
  
  .div_column_pic.pic5 {
    background: url("../../assets/img/1N0T5AA-ABD_1750x1285.jpg") center / cover no-repeat;
  }
  
  .div_column_pic.pic4 {
    background: url("../../assets/img/Oculus-Rift-S-658x370-7bf458b4008554cc.jpg") center / contain no-repeat;
  }
  
  .H_1 {
    color: rgb(255,255,255);
    text-align: center;
    width: 310px;
  }
  
  .link1 {
    width: 310px;
    height: 100px;
    font-size: 40px;
    color: #8f5aff;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-decoration: none;
    position: fixed;
  }
  
  .Section_index_2 {
    height: 589px;
    margin-top: -200px;
  }
  
  .dropdown_back {
    background: rgb(40,45,50);
  }
  
  .div_column_pic.pic6 {
    background: url("../../assets/img/2888734_42c4b2bc9918.jpg") center / cover no-repeat;
  }
  
  .div_column_pic.pic7 {
    background: url("../../assets/img/uepmmzprbpo76lpjyxvg.png") center / contain no-repeat;
  }
  
  .div_column_pic.pic8 {
    background: url("../../assets/img/scf8qnsxhsrrgij3hrtk.png") center / contain no-repeat;
  }
  
  .video_HTC {
    width: 100%;
    height: 720px;
  }
  
  .video_HTC1 {
    width: 100%;
    opacity: 0.50;
    text-align: center;
    position: relative;
    object-fit: cover;
  }
  
  .Hr_1 {
    margin-top: 361px;
    color: rgb(255,255,255);
    height: 14px;
  }
  
  .tab1 {
    color: rgb(255,255,255);
    width: 600px;
    margin: 0 auto;
  }
  
  .text1 {
    color: rgb(255,255,255);
  }
  
  .div1_index {
    position: absolute;
    width: 100%;
    height: 146px;
    background: rgb(40,45,50);
  }
  
  .div_h2 {
    margin-top: 2px;
  }
  
  .Heading_HTC1 {
    margin-top: 272px;
    height: 62px;
    color: rgb(255,255,255);
    margin-top: 20px;
  }
  
  .Hr1_index {
    margin-top: 27px;
  }
  
  .div_maintable {
    height: 399px;
    position: relative;
  }
  
  .cardview {
    position: relative;
    width: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    height: 350px;
  }
  
  .cardview .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .cardview .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(120px at center);
    transition: 0.5s;
  }
  
  .cardview:hover .circle:before {
    clip-path: circle(400px at center);
    background: #0065c3;
  }
  
  .cardview img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .cardview:hover img {
    left: 72%;
    height: 300px;
  }
  
  .div_anim {
    display: flex;
    justify-content: center;
  }
  
  .cardview .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .cardview:hover .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
  }
  
  @media (max-width: 991px) {
    .cardview {
      width: auto;
      max-width: 350px;
      align-items: flex-start;
    }
  }
  
  @media (max-width: 991px) {
    .cardview:hover {
      height: 600px;
    }
  }
  
  @media (max-width: 991px) {
    .cardview .content {
      width: 100%;
      left: 0%;
      padding: 30px;
    }
  }
  
  @media (max-width: 991px) {
    .cardview:hover img {
      top: 70%;
      left: 50%;
      height: 300px;
    }
  }
  
  .section_glass {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
  }
  
  .container_Oculus {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container_Oculus .card_Oculus {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
  }
  
  .container_Oculus .card_Oculus .imgbx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
  }
  
  .container_Oculus .card_Oculus:hover .imgbx {
    transform: translateY(-100px);
  }
  
  .container_Oculus .card_Oculus .imgbx img {
    max-width: 100%;
    margin: 0 0 20px;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
  }
  
  .container_Oculus .card_Oculus:hover .imgbx img {
    transform: translate(-20px,-40px) rotate(25deg) scale(1.2);
  }
  
  .container_Oculus .card_Oculus .content_Oculus {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  .h1_oculus {
    color: #fff;
    font-size: 37px;
    font-weight: 600;
  }
  
  .container_Oculus .card_Oculus:hover .content_Oculus {
    opacity: 1;
    visibility: visible;
  }
  
  .Img_OculusRiftS {
    transform: rotate(-25deg);
  }
  
  .container_Oculus .card_Oculus:hover .imgbx .Img_OculusRiftS {
    transform: rotate(0deg);
  }
  
  .h1_oculus.h1_oculusrifts {
    margin-top: 94px;
  }
  
  .Img_OculusRiftCV1 {
    transform: rotate(-25deg);
  }
  
  .container_Oculus .card_Oculus:hover .imgbx .Img_OculusRiftCV1 {
    transform: rotate(0deg);
  }
  
  .text_OculusQuest2 {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #f00;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s, 0.5s, 0s, 0.5s;
    color: #fff;
  }
  
  .container_Oculus .card_Oculus:hover .text_OculusQuest2 {
    transition-delay: 0s, 0.5s, 0.5s, 0s;
    bottom: -70px;
    z-index: 11;
    transform: translatX(-50%) translateY(-50%);
    padding: 10px 20px 10px;
  }
  
  .section_pimax2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #161623;
  }
  
  .container_Pimax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
  }
  
  .container_Pimax .card_Pimax {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .container_Pimax .card_Pimax .content_Pimax {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }
  
  .container_Pimax .card_Pimax:hover .content_Pimax {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .container_Pimax .card_Pimax .content_Pimax .h1_Pimax {
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  
  .container_Pimax .card_Pimax .content_Pimax .h2_Pimax {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
  }
  
  .container_Pimax .card_Pimax p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
  }
  
  .div_pimax8k {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .div_maintable.div_maintable_pimax {
    margin-right: 26px;
  }
  
  .section_HP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
    background: #121212;
  }
  
  .container_HP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
  }
  
  .container_HP .card_HP {
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
    transition: 0.5s;
  }
  
  .container_HP .card_HP .box_HP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    border-radius: 10px;
  }
  
  .div_headingHP {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
  }
  
  .div_headingHP .div_paragraphHP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div_headingHP .div_paragraphHP p {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
  }
  
  .text_HP {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #007aff;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s,0.5s,0s,0.5s;
    color: #fff;
  }
  
  .card_HP:hover .text_HP {
    transition-delay: 0s,0.5s,0.5s,0s;
    bottom: -70px;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
  }
  
  .h1_HP {
    font-size: 24px;
    width: 171.625px;
  }
  
  .card_HP:hover .img_hpg2 {
    transform: translateY(-20%);
  }
  
  .img_hpg2 {
    transition: 1s;
  }
  
  .section_HP::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 50px;
    background: #007aff;
  }
  
  .section_HP::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    background: #007aff;
  }
  
  .div_maintable.div_maintable_hp {
    margin-right: 72px;
  }
  
  .section_valve {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
    background: #1b2838;
  }
  
  .container_valve {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
  }
  
  .container_valve .card_valve {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
  }
  
  .text_valve {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #161623;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s,0.5s,0s,0.5s;
    color: #fff;
  }
  
  .card_valve:hover .text_valve {
    transition-delay: 0s,0.5s,0.5s,0s;
    bottom: -80px;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
  }
  
  .div_mainpic img {
    position: absolute;
    left: 0;
    object-fit: cover;
    pointer-events: none;
  }
  
  .div_index_left {
    height: 100%;
    width: 33%;
    background: url("../../assets/img/valve-index-reco-big.png") center / contain no-repeat;
    pointer-events: none;
  }
  
  .div_index_middle {
    height: 100%;
    width: 33%;
    background: url("../../assets/img/valveindex%20(1).png") center / cover no-repeat;
    pointer-events: none;
  }
  
  .div_index_right {
    width: 33%;
    height: 100%;
    background: url("../../assets/img/valveindex.png") center / contain no-repeat;
    pointer-events: none;
  }
  
  .container_valve .card_valve .box_valve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    border-radius: 10px;
  }
  
  .div_impressum1 {
    height: 100%;
    width: 100%;
  }
  
  .section_impressum {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section_impressum img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Hr_1 {
    color: rgb(255,255,255);
    height: 14px;
    margin-top: 207px;
  }
  
  .section_impressum::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(0,0,0),transparent);
    z-index: 10000;
  }
  
  .div_gridcontainer {
    display: grid;
  }
  
  #nav_link1 {
    font-family: Montserrat, sans-serif;
    text-align: right;
    font-size: 31px;
    padding-right: 62px;
    padding-left: 17px;
    border-bottom-color: rgb(255,255,255);
    font-weight: bold;
  }
  
  .h1_impressum {
    color: rgb(255,255,255);
    height: 46px;
    width: 100%;
    margin-top: 59px;
  }
  
  .h1_impressum1 {
    color: rgb(255,255,255);
    height: 55px;
    font-size: 30px;
  }
  
  .p_impressum {
    height: 103px;
    font-size: 23px;
    color: rgb(255,255,255);
    width: 500px;
  }
  
  .p_impressum1 {
    height: 79px;
    font-size: 23px;
    color: rgb(255,255,255);
    width: 500px;
  }
  
  .div_maintable.div_valvemaintable {
    margin-top: 60px;
  }
  
  .div_maintable.div_oculusmaintable {
    margin-left: 45px;
  }
  
  .paragraph_oculus {
    color: rgb(255,255,255);
    font-size: 20px;
  }
  
  .paragraph_HTC {
    font-size: 28px;
    font-family: Montserrat, sans-serif;
  }
  
  .heading_HTC {
    font-size: 36px;
    font-family: Montserrat, sans-serif;
  }
  
  .section_impressum1 h1{
    color: #fff;
  }
  
  .section_impressum1 h2{
    color: #fff;
  }
  
  .section_impressum1 h3{
    color: #fff;
  }
  
  .section_impressum1 h4{
    color: #fff;
  }
  
  .section_impressum1 p{
    color: #fff;
  }
  
  .section_impressum1 li{
    color: #fff;
  }
  
  .section_Valvetwitterpost{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
    background: #1b2838;
  }
  
  .section_twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#232323;
  }